html, body {
  padding: 5px;
  background-color: rgb(31, 30, 30);
}

.prompt {
  font-family: calibri, arial;
  color: white
}

#campus-section {
  padding-bottom: 5px;
}

#or {
  font-family: calibri, arial;
  padding: 5px;
  color: white
}

#data-table {
  column-width: auto;
  font-family: calibri, arial;
  border-spacing: 0px;
  color: white
}

#data-table td {
  border: 1px solid gray;
  width: 136px;
  padding: 7px;
  color: white
}

#data-table thead td {
  background-color: rgba(25, 25, 110, 0.781);
}

